<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row info">

        <% footer.forEach(function(element) { %>
        <div class="footer-col col-md-4">
          <h3>Adresse</h3>
          <p>"<%= element.navn %>"
            <br> <%= element.vej %> 
            <br> <%= element.by %> <%= element.postnr %>
            <br> <%= element.email %>
            <br> tlf. <%= element.tlf %> 
          </p>
        </div>
        <% }); %> 

        <div class="footer-col col-md-4">
            <h3>General Info</h3>
            <p><a href="/login">Admin</a>
              <br><!-- Jason info  --></p>
        </div>

          <div class="footer-col col-md-4 Map-box">
              <h3>Find os</h3>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2252.688656367025!2d12
              .136046315882638!3d55.62483298051929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
              .1!3m3!1m2!1s0x46525f0cd37a7213%3A0xc5f531b82496a403!2sK%C3%A6rvej
              +7%2C+4000+Roskilde!5e0!3m2!1sda!2sdk!4v1518688526267" 
              width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                <br><!-- Jason info  -->
          </div>
        


      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; MuskelKlip 2017
        </div>
      </div>
    </div>
  </div>
</footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>