<html>
<body id="page-top">
<%- include ../partials/head %>
<%- include ../partials/navbar %>
<%- include ../partials/header %>
<%- include ../partials/galleri %>
<%- include ../partials/omos %>
<%- include ../partials/bestil %>
<%- include ../partials/kontakt %>
<%- include ../partials/info %>
<%- include ../partials/medarbejdere %>
<%- include ../partials/produkter %>
<%- include ../partials/footer %>
</body>
</html>